<OFIfNotIsSet name="node" value="root">
<OCSitemapEntries sitemap="core" node="<OVnode>">
<OCIfNotEqual  expr1="<OVnode>" expr2="root">
<li><a href="#" title="<OVSitemapEntryId>"><OVSitemapEntryText htmlentities="1"></a>
</OCIfNotEqual>
<ul>
<OFRecurse sitemap="core" node="<OVSitemapEntryId>">
</ul>
<OCIfNotEqual expr1="<OVnode>" expr2="root">
</li>
</OCIfNotEqual>
</OCSitemapEntries>
