@IMPORT url("default/theme.css");

body {
	/*font-size:.9em;*/
	font-size: 11px;
	font-family:Arial,Verdana;
	margin:0;
	padding:0;
	background:#fff;
	line-height:108%;
}

body.iframe {
	background:#eee;
}

p {
	margin:.7em 0;
}


form {
	margin:0;
}

textarea, select {
	background-color: #fff;
	font-family:Arial,Verdana;
	font-size:1em;
	}
	

.header {
	background:#333;
}

.header h1 { 
	font-family:Arial,Verdana;
	font-size: 1.3em; 
	margin: 0 0; 
	padding:.3em 1em .4em 1em;
	color:#fff;
	background:transparent;
	
}

h1.msgerror {
	color:#d80000;
	background:#fff1f1 url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/action_fail.gif') no-repeat 10px 50%;
	border-bottom:#dd7878 1px solid;
	font-size: 1.1em; 
	padding:.8em 35px;
	margin-top:0;
}

h2 { font-size: 1.4em; margin: .3em 0; }
h3 { font-size: 14px; margin: .2em 0; }
h4 { font-size: 1.2em; margin: .2em 0; }
h5 { font-size: 1.1em; margin: .2em 0; }
h6 { font-size: 1em; margin: .2em 0; }

a img {
	border:0;
	}
	
/*
a,
a:link,
a:visited {
	color:#393b42;
	}

a:hover {
	text-decoration:none;
	color:#060;
	}
*/


a.mailto {
	background: url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/mail_icon.gif') center right no-repeat;
    padding-right: 18px;
	}

a.url, a.map {
	background: url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/external.png') center right no-repeat;
    padding-right: 13px;
	}
	
	

	

	

td, th {
	vertical-align:top;
	padding:.2em .4em;
	margin:0;
	border-left:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	text-align:left;
	font-size:12px;
	font-weight:normal;
}


table tbody tr {
	background:#fff;
	color:#000;
}





th {
	background:#ebebeb;
}

table {
	border-spacing:0;
	margin:.5em 0;
	border-top:#ccc 1px solid;
	border-right:#ccc 1px solid;
	width:100%;
}

caption {
	background:#c4d2e5 url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/blue_gradian_1.gif') repeat-x 0 50%;
	border-top:#ccc 1px solid;
	border-left:#ccc 1px solid;
	border-right:#ccc 1px solid;
	padding:.2em;
	margin:0 0 -.5em 0;
	font-weight:bold;
	font-size:9px;
	font-family:Verdana;
	color:#4d6187;
}

table thead td,
table thead th {
	background:#c4d2e5 url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/blue_gradian_1.gif') repeat-x 0 50%;
	font-weight:bold;
	padding:.4em .6em;
	vertical-align:bottom;
	border-bottom:#aaa 1px solid;
}

table tfoot td {
	background:#ddd;
	font-weight:bold;
	border-bottom:#444 1px solid;
}

table tfoot th {
	background:#cdcdcd;
	border-bottom:#444 1px solid;
	font-weight:bold;
}


.bloc td a:link, .bloc th a:link,
.bloc td a:visited, .bloc th a:visited {
	color:#477ea2;
	text-decoration:none;
}

.bloc td a:hover, .bloc th a:hover {
	color:#bb1200;
}



input.widget_bap_notempty, textarea.widget_bap_notempty {
	border-color:#dcb3b3;
	background:#fff8f8;
}


.money {
	color:#304d86;
}

tbody .rate {
	text-align:right;
	color:#822c79;
	padding-right:.2em;
}

thead .rate {
	color:#000;
	text-align:center;
}

tbody .money,
input.money {
	text-align:right;
	color:#304d86;
}

tbody td.group, 
tbody .group td,
option.group {
	background:#e7f8e6;
}

tbody td.collection,
tbody .collection td,
option.collection {
	background:#fff8ad;
}


.percent {
	text-align:right;
	color:#196100;
}


input.percent {
	padding-right:.2em;
	background:#fffce1;
}


tfoot .money {
	text-align:right;
}


tbody .money input {
	text-align:right;
	color:#304d86;
}



thead .money {
	text-align:center;
}





tbody td.important {
	font-weight:bold;
	color:red;
}

thead td.important {
	color:black;
}

.quantity {
	text-align:right;
}


.header div {
	float:right;
	color:#eee;
	margin:.2em .2em;
	padding:.2em .5em .2em 20px;
	background:transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/head.gif') no-repeat 0 2px;
}

.header div a,
.header div a:link,
.header div a:visited,
.header div a:hover {
	color:#fff59d;
}


.widget_bap_add_to_basket_btn {
	text-align:center;
}

.widget_bap_add_to_basket_btn a {
	font-weight:bold;
}


.altbg0 {
	background:#fff;
}

.altbg1 {
	background:#e3e3e3;
}



.Widget_bap_tabs_nav {
	margin:.5em 0 -.6em 1em !important;
	
}

.Widget_bap_main_panel {
	
	padding:0 !important;
	border:none !important;
	background:transparent !important;
}




.Widgets_bap_rail {
	margin:0;
	height:1.6em !important;
	padding:.2em !important;
	border-left-width:0 !important;
	border-right-width:0 !important;
}

.Widgets_bap_rail li {
	display:inline;
	list-style-type:none;
}

.Widgets_bap_rail a, 
.Widgets_bap_rail a:visited, 
.Widgets_bap_rail span {
	padding:1px 3px 0 11px;
	margin: 1px 1px 0 1px;
	display:block;
	float:left;
	text-decoration:none;
	font-weight:normal;
	background:transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/pointer_blue.gif') no-repeat 3px 65%;
}
.Widgets_bap_rail a:hover {
	text-decoration:underline;
}




#Widgets_bap_home_li a {
	padding-left:22px;
	background: transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/b_home.png') no-repeat 3px 70%;

}






.tooltip {
	position:absolute;
	border: 1px solid black;
	padding: .2em .5em;
	background-color: white;
	visibility: hidden;
	z-index: 100;
	text-align:left;
	font-size:11px;
	font-family:Verdana;
	color:#000;
	white-space:nowrap;
	top:-1000px;
	left:-1000px;
}




.Widgets_bap_detailnum,
.Widgets_bap_detailnum:visited {
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding:1px 4px;
	margin:1px;
	float:left;
	border:#fff 1px solid;
}

.Widgets_bap_detailnum:hover {
	border:#000 1px solid;
	background:#fff;
	color:#000;
}


.Widgets_bap_filter p {
	margin:.5em 1em;

}

.Widgets_bap_filter fieldset {
	margin:.5em 1em;
	padding:.5em;
}

.Widgets_bap_filter fieldset span {
	white-space:nowrap;
}

.Widgets_bap_filter fieldset label {
	margin:1em;
}

.Widgets_bap_edit .field textarea {
	width:95%;
}

.Widgets_bap_edit .field table {
	width:95%;
	margin:0 auto;
	border:#ccc 1px solid;
	background:#fff;
}


.Widgets_bap_edit .field table tbody th {
	text-align:left;
	font-weight:normal;
}

.Widgets_bap_edit .fieldsetcheckbox {
	width:40%;
	margin-right:8%;
	float:left;
	padding: .2em 0;
}





.Widgets_bap_validate {

	margin: 1em auto;
	width:70%;
	padding:1em;
	list-style-type:none;
	background:#fff;
	border:#000 1px solid;
}

.Widgets_bap_validate li {
	padding:.2em;

}

#Widgets_bap_clockdetail {
	position:absolute;
	background:#DCEBFF;
	border:#000 1px solid;
}

#Widgets_bap_clockdetail a {
	display:block;
	padding:.1em .3em;
	text-decoration:none;
	color:#000;
}

#Widgets_bap_clockdetail a:hover {
	background:#00306C;
	color:#fff;
}

img.clock, img.date {
	cursor:pointer;
}


#leftcontent {

	width:159px;
	background:#fff;
	border:#ccc 1px solid;
	z-index:10;
}



#left_menu_btn {
	display:block;
	width:17px;
	height:93px;
	position:absolute;
	top:4px;
	right:-17px;
	background:transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/menu.gif') no-repeat left top;
	cursor:pointer;
	}
	
@media print {
	#left_menu_btn {
		display:none;
	}
}

#leftcontent ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

#leftcontent ul li {
	display:inline;
}

#leftcontent ul a,
#leftcontent ul a:visited {
	padding:.15em .5em;
	display:block;
	text-decoration:none;
	color:#666;
}
#leftcontent ul a:hover {
	background:#444;
	color:#fff;
}




fieldset .float2col {
	float:left;
	width:50%;
	margin:.01em 0;
}


.Widgets_bap_edit .note {
	margin:1em;
	border:#ccc 1px solid;
	background:#fff;
	padding:.8em;
}

.Widgets_bap_edit .note h2 {
	margin:0;
	font-size:14px;
}

.Widgets_bap_edit .note h3 {
	margin:0;
	font-size:9px;
	font-weight:normal;
	border-bottom:#ccc 1px solid;
}

.Widgets_bap_edit .note h4 {
	margin:0;
	font-size:11px;
	font-weight:normal;
	color:#888;
	text-align:right;
	position:relative;
	top:-20px;
}



.col_table {
	width:100%;
	margin:0 0 0 0;
	padding:0;
	background:transparent;
	border:0;
}



.col_table td.col {
	padding:0;
	margin:0;
	background:transparent;
	border:0;
}

.field_table td.col {
	padding:.3em .5em;
}


#Widgets_bap_col1,
#Widgets_bap_col2  {
	padding:.6em .4em !important;
}


div.bloc {
	margin:0 0 .6em 0;
	padding:.6em;
	border: 1px solid #cccccc;
	background: #f3f3f3;
}


.blocimage {
	text-align:center;
	background:#fff;
	margin:.6em .4em;
	padding:.6em;
}




div.bloc_warning {

	background:#ffffbf url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/48x48/status/messagebox_warning.png') no-repeat 8px 50% !important;
	border:#cfcf3d 1px solid !important;
	color:#5e5e35 !important;
	padding:.6em .6em .6em 63px !important;
	margin:0 0 .6em 0;
}



div.bloc_critical {

	background:#ffffbf url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/48x48/status/messagebox_critical.png') no-repeat 8px 50% !important;
	border:#cfcf3d 1px solid !important;
	color:#5e5e35 !important;
	padding:.6em .6em .6em 63px !important;
	margin:0 0 .6em 0;
}


div.bloc_information {

	background:#ffffbf url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/48x48/status/messagebox_information.png') no-repeat 8px 50% !important;
	border:#cfcf3d 1px solid !important;
	color:#5e5e35 !important;
	padding:.6em .6em .6em 63px !important;
	margin:0 0 .6em 0;
}



.bloc .bloc,
.iframe .bloc {
	background:#fff !important;
}

.bloc .ui-tabs-panel {
	margin-bottom:.5em;
}




.Widgets_bap_pages {
	margin:-.5em 0 .2em 0 !important;
	padding:.4em .6em !important;
	
}



.ui-dialog-titlebar .ui-default-state,
.ui-dialog-titlebar .ui-default-state:visited,
.Widgets_bap_pages strong {
	font-size:11px;
	text-decoration:none !important;
	padding:.15em .3em !important;
}






.widget-layout-vbox div.widget-pair {
	margin:1.2em 0 1.2em 1em;
}

.widget-layout-vbox div.widget-pair .first {
	font-weight:bold;
	margin:.2em 0 .2em 0;
}

.widget-layout-vbox div.widget-pair .second {
	margin:.2em 0 .2em 2em;
}

.widget-layout-vbox div.widget-pair .second .widget-layout-hbox-item {
	margin:0;
}


form .submit {
	text-align:center;
}


td .histogram {
	text-align:right;
	width:290px;
}

td .histogram img {
	background:#eee url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/plan_gradian_3.gif') repeat-x 0 bottom;
	margin-left:5px;
	height:1.3em;
}

#widget_bap_select {
	border:#ccc 1px solid;
	background:#eee url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/loader.gif') no-repeat 50% 50%;
	margin:.6em .4em;
	padding:.6em;
}


.opened {
	display:block;
}

.closed {
	display:none;
}



.iframe {
	background:#eee;
}


.iframe table a,
.iframe table a:visited {
	color:#1c68b0;
	text-decoration:none;
}


.iframe table a:hover {
	color:#0da901;
	text-decoration:none;
}


.bloc li a,
.bloc li a:visited {
	color:#444;
	text-decoration:none;
}

.bloc li a:hover {
	text-decoration:underline;
}


input.right_browser {
	
}

input.selected {
	background:#d5e3ff;
}



.gallery a img {
	padding:3px;
	border:#ccc 1px solid;
	background:#fff;
	margin:10px;
}

.gallery a:hover img {
	border:#000 1px solid;
}


.select {
	cursor:pointer;
}

.vcard p {
	margin:.4em 0;
}

.vcard p a,
.vcard p a:visited {
	text-decoration:none;
}

.vcard p a:hover {
	color:blue;
}

.vcard em {
	color:#444;
}


#BAB_DEBUG_link {
	display:block;
	position:absolute;
	top:5px;
	left:300px;
	color:#aaa;
	text-decoration:none;
}

thead .checked, 
thead .unchecked {
	background:transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/checkicon.gif') no-repeat right center;
    padding-right:18px;
    color:blue;
}


.html_links {
	margin:.7em 0 .7em 0;
	padding:0;
}




.html_links a,
.html_links a:visited {
	display:block;
	margin:.3em;
	padding:.2em .2em .2em .5em;
	text-decoration:none;
}


.html_links .widget-label {
	background:transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/pointer_blue.gif') no-repeat 0 50%;
	padding-left:12px;
	
}



.html_links .selected,
.html_links .selected:visited {
	background-color:#fff6c6;
	color:#000;
}


.html_links .sublink,
.html_links .sublink:visited {
	background-color:transparent;
	padding:.2em .2em .2em 45px;
}



.widget_bap_errorobject {
	border-color:red !important;
}

.widget_bap_errormessage {
	color:red;
	margin:0 .5em;
	padding:.1em .4em;
	border:red 1px solid;
	background:#fff;
	white-space:nowrap;
}


.widget_bap_expendable,
.widget_bap_shrinkable {
	padding:0 0 0 18px;
	cursor:pointer;
}


.widget_bap_expendable {
	background:transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/plus.gif') no-repeat 0px 50%;
}

.widget_bap_shrinkable {
	background:transparent url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/minus.gif') no-repeat 0px 50%;
}



.longfield_table {
	background:transparent;
	border:none;
}

.longfield_table th,
.longfield_table td {
	background:transparent;
	border:none;
	white-space:nowrap;
}


.longfield_table th {
	text-align:right;
	padding:.5em 0 .5em .5em;

}

.longfield_table td .max {
	width:96%;
}

.iframe .longfield_table td .max {
	width:92%;
}

input.widget_bap_numeric {
	text-align:right;
	color:green;
}




.not_created td,
.not_created th {
	background:#ffe6e6;
}


.mouseover_edit td {
	cursor:pointer;
	background:#e1f7ff;
}

.click_edit td {
	background:#d3ffcc;
}

.hidden {
	display:none;
}





table .ALT {
	background:#ffffad !important;
}

table .SUG {
	background:#ffe0bf !important;
}

table .OPT {
	background:#ffb3b3 !important;
}



.widget_bap_list_search .criterion {
	display:block;
	float:left;
	padding-right: 2em;
	
}



.multifield {
	white-space:nowrap; 
	line-height:2.5em;
}



.money_trlist .html_trlist td {
	color:#304d86;
	text-align:right;
}


/* languages */


table .missing_translations {
	background:#ffe8c5;
}

table .all_translated {
	background:#dcffd8;
}

/* manager menu */




#ADDON_PE_widget_bap_articles_li a {
	background:#ffd3d3;
}


#ADDON_PE_widget_bap_supplier_li a,
#ADDON_PE_widget_bap_partner_li a,
#ADDON_PE_widget_bap_customers_li a {
	background:#e7e6ff;
}

#ADDON_PE_widget_bap_branchs_li a,
#ADDON_PE_widget_bap_lists_li a {

	background:#ecffe6;
}



.widget-radio_set input,
input.widget-checkbox {
	vertical-align:middle;
	background:transparent;
	border:none;
}


.widget-static-tabs > ul {
	margin:0;
	padding:0;
}


.widget-static-tabs .widget-tab {
	border-color:#ccc #ccc #ccc #ccc;
	border-style:solid solid solid solid;
	border-width:1px 1px 0px 1px;
	
}

.ui-tabs-nav-item a {
	font-size:1em !important;
	
}


a.button,
a.button:visited {
	padding:.25em .8em;
	text-decoration:none !important;
	white-space:nowrap;
	line-height:2.5em;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
	
a.button:hover {
	color:#000;
	}







.ui-datepicker td,
.ui-datepicker th {
	margin:0;
	padding:0;
	text-align:inherit;
	vertical-align:inherit;
}




input.widget-datepicker {

	padding-right:14px;
	background-image:url('../../../skins/ovidentia/images/addons/widgets/businessapplicationpage/PuceNewEvent.png'); 
	background-repeat:no-repeat;
	background-position:99% 50%;
}


/*

.widget-displaymode {
	background:#fff;
	color:#000;
	padding:.2em .4em;
	border:#ddd 1px solid;
	display:block;
}

*/


.widget-displaymode {
	margin:.3em;
}


@media print {
	#Widgets_bap_content {
		margin-left:0px;
	}
	
	#BAB_DEBUG_link,
	.widget_bap_manager_bloc,
	div.header div,
	#Widgets_bap_art_tools {
		display:none;
	}
	
	
	.bloc {
		border:#eee 2px solid;
		background:#fff;
	}
	
	.header h1 {
		background:#fff;
		color:#000;
		padding: 15px 0 15px 48px;
		border-width:0;
		
	}
}
