

.widget-gauge {
	
	border:#888 1px solid;
	background:#fff;
	margin:.2em 0;
	padding:1px;
}

.widget-gauge div {
	height:3px;
	background:blue;
	padding:0;
	margin:0;
	border:none;
}


.widget-progressbar iframe {
	display:none;
}



.widget-progressbar-memory {
	text-align:right;
	font-size:85%;
	opacity: 0.5;
}





.widget-progressbar-error {
	background:#ffffbf url('images/widgets/messagebox_warning.png') no-repeat 4px 4px;
	border:#cfcf3d 1px solid;
	color:#5e5e35;
	padding:.6em .6em 1em 63px;
	margin:.6em 0 .6em 0;
}