
/* without javascript */
.widget-radio-menu {
	display: inline-block;
}

/* with javascript */
.widgets-radiomenu { 
	display: block;
	position:relative; 
	text-decoration: none; 
	overflow:hidden;
}

.widgets-radiomenu-icon { 
	position:absolute; 
	right:6px; 
	margin-top:-8px; 
	top: 50%; 
}


.widgets-radiomenu-menu { 
	padding:0; 
	margin:0; 
	list-style:none; 
	position:absolute; 
	top: 0; 
	visibility: hidden; 
	overflow: auto;
	z-index: 1002;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

.widgets-radiomenu-open { 
	visibility: visible; 
}

.widgets-radiomenu-menu-popup { 
	margin-top: -1px; 
}


.widgets-radiomenu-menu-dropdown { }

.widgets-radiomenu-menu li { 
	padding:0; 
	margin:0; 
	display: block; 
	border-top: 1px dotted transparent; 
	border-bottom: 1px dotted transparent; 
	border-right-width: 0 !important; 
	border-left-width: 0 !important; 
	cursor:pointer; 
}

.widgets-radiomenu-menu.widgets-radiomenu-multiple-items li {
	display: inline-block;
}

.widgets-radiomenu-status {
	line-height: 1.1em; 
	display:block; 
	padding:0.2em 1em 0.2em .3em; 
	outline:none; 
	text-decoration:none; 
	color:#000; 
}

.widgets-radiomenu-menu li .ui-icon, 
.widgets-radiomenu-status .ui-icon { 
	position: absolute; 
	top: 1em; 
	margin-top: -8px; 
	left: 0; 
}

.widgets-radiomenu-open li.widgets-radiomenu-item-focus a {  
}

.widgets-radiomenu-open li.widgets-radiomenu-item-selected {
    background: #aaa;
}

.widgets-radiomenu-menu li span,
.widgets-radiomenu-status span { 
	display:block; 
	margin-bottom: .2em; 
}
