.widget-acl-dialog .eol {
	float:right;
	
}

.widget-acl-dialog input {
	vertical-align:middle;
}

.widget-acl-dialog ul {
	list-style-type:none;
	padding:0 0 0 2em;
	margin:0;
}

.widget-acl-dialog .root {
	padding:0;
}

.widget-acl-dialog li {
	margin:0;
	padding:.2em 0;
	border-bottom:#ddd 1px solid;
	clear: both;
}

.widget-acl-dialog .list-item {
	display: -moz-inline-stack;
	display: inline-block;
	height:20px;
	vertical-align:middle;
}

.widget-acl-dialog li strong {
	display: -moz-inline-stack;
	display: inline-block;
	width: 20px;
	height:20px;
	vertical-align:middle;
}

.widget-acl-dialog li strong.plus {
	background:transparent url(images/plus.gif) no-repeat 50% 50%;
	cursor:pointer;	
}


.widget-acl-dialog li strong.minus {
	background:transparent url(images/minus.gif) no-repeat 50% 50%;
	cursor:pointer;	
}

.widget-acl-dialog li strong.loading {
	background:transparent url(images/ajax-loader.gif) no-repeat 50% 50%;
		
}

.widget-acl-frame ul.loading {
	padding-bottom:30px;
	background:#fff url(images/ajax-loader.gif) no-repeat 50% 90%;
		
}


.widget-acl-dialog li:hover {
	background:#eee;
}


.widget-acl-dialog .toolbar {
	padding:.5em;
	background:#eee;
}




.widget-acl-frame {

	display: -moz-inline-stack;
	display: inline-block;
	
	border:#bbb 1px solid;
	padding:2px;
	background:#eee;
	text-align:left;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	position:relative;
	
	min-height:32px;
}

.widget-acl-frame strong {
	
	display: -moz-inline-stack;
	display: inline-block;
	
	background: transparent url(images/32x32/acl.png) no-repeat 0 50%;
	
	padding:.7em 0 .7em 35px;
	color:#444;

	margin-right:38px;
}
	
.widget-acl-frame button {
	margin:1px;
	
	display: -moz-inline-stack;
	display: inline-block;
	
	position: absolute;
	right:0;
	top:0;
	
	width:34px;
	text-align:center;
}

.widget-acl-frame ul {
	list-style-type:none;
	margin:.1em 0 0 0;
	padding:0;
	position:relative; /* Fix for IE7 overflow bug */
	overflow:auto;
}

.widget-acl-frame li {
	margin:2px 0 0 0;
	padding:.4em 30px .4em .4em;
	border:#ccc 1px solid;
	background:#fff;
	color:#000;
	text-align:left;
	position:relative;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.widget-acl-frame li span {

	text-shadow: #555 0px 0px 1px;
}

.widget-acl-frame li em {

	font-size:90%;
}






.widget-acl-frame li .delete {
	
	cursor:pointer;
	height:38px;
	width:30px;
	background:transparent url(images/PuceDelete.png) no-repeat 50% 50%;
	
	position:absolute;
	top:0;
	right:0;
}


.widget-acl-frame li.deleted span {
	text-decoration:line-through;
	color:#bbb;
	text-shadow: #eee 0px 0px 1px;
}

.widget-acl-frame li.deleted .delete {
	display:none;
}

.widget-acl-frame li.inserted {
	background-color:#fff5b1;
}


/* specific for old ACL form */

.bab-acl-form {
	width:500px;
	margin:0 auto;
}

.bab-acl-form .widget-acl-frame
{
	width:100%;
}

