.widget-tableview.widget-tableview-init-done .widget-tableview-fixed-header{
	width: 100%;
	overflow-y: scroll;
}
.widget-tableview.widget-tableview-init-done .widget-tableview-fixed-header table{
	border-collapse: collapse;
}

.widget-tableview.widget-tableview-init-done .widget-tableview-fixed-header .widget-table-header td{
	background-clip: padding-box;
}